<button class="buton" (click)="open(mymodal)">Editar perfil</button>
<ng-template #mymodal let-modal>
  <div class="modal-body"> 
      <!--FORMULARIO INICIO DE SESIÓN-->
    <div class="tab-content">
        <div class="tab-pane active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form>
                <div class="text-center mb-3">
                    <!-- <div class="input-file foto">
                        <input type="file" id="file" class="input-file-input " >
                        <label for="file" class="input-boton">Cambiar foto</label>
                    </div> -->
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" value="{{nombreUsuario}}"/>
                        <label class="form-label" for="registerUsername"></label>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="registerEmail" class="form-control" value="{{correo}}"/>
                        <label class="form-label" for="registerEmail"></label>
                    </div> 
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-block mb-4" [routerLink]="['/perfil']" (click)="modal.close()">Hecho</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
</ng-template>
