<app-header></app-header>
<!--Información del usuario-->
<div class="userI">
    <div class="nomYeditar">
        <p>{{nombre}}</p>
        <app-modalperfil></app-modalperfil>
    </div>
     <div class="foto">
        <img class="photo" src="../../assets/Img/Captura.PNG">
    </div> 
</div>
<!--Publicaciones del usuario-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" *ngFor="let item of datos">
          <div class="card">
            <div class="juanita"></div>
            <div class="card-body">
              <h5 class="card-title">{{item.usuario}}</h5>
              <p class="card-text">
                {{item.descripcion}}
              </p>
            </div>
          </div>
        </div>
      </div>
