/* acordeon */
.acordeon{
    margin-left: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px black ;
    margin-top: 10%;
    float: left;
    position: fixed;
}
agn-map
{
  height: 300px;
}
.map
{
  box-shadow: 2px 2px 9px 2px black;
  border-radius: 6px 6px;
  width: 40%;
  height: 500px;
  margin-left: 580px;
  float: right;
  margin-bottom: 20%;
  margin-top: 10%;
  position: fixed;  
  background-color: white;
}
.favoritos
{
	width: 600px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.estrella
{
  box-shadow: none;
}