<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="boton">
      <app-modal></app-modal>
        <!--<button class="btn btn-primary mx-1">Comenzar</button>-->
      
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner"> 
      <div class="carousel-item active">
        <img src="../../../assets/Img/Ciclismo-Mountain.jpg" class="d-block w-100" alt="...">
        <div class="info">
          <h1>EXTREME COLOMBIA</h1>
          <p>Si eres un amante de la naturaleza, los paisajes de Colombia y la adrenalina, entonces has llegado al lugar correcto.</p>
        </div>
        </div>
      <div class="carousel-item">
        <img src="../../../assets/Img/rafting1.jpg" class="d-block w-100" alt="...">
        <div class="info">
          <h1>EXTREME COLOMBIA</h1>
          <p>Si eres un amante de la naturaleza, los paisajes de Colombia y la adrenalina, entonces has llegado al lugar correcto.</p>
        </div>
        </div>
      <div class="carousel-item">  
        <div class="info">
            <img src="../../../assets/Img/rafting.jpg" class="d-block w-100" alt="...">
          <h1>EXTREME COLOMBIA</h1>
          <p>Si eres un amante de la naturaleza, los paisajes de Colombia y la adrenalina, entonces has llegado al lugar correcto.</p>
        </div>   
        </div>
    </div>
</div>
<!-- End Slider -->
